{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HW - HM</title>
    <link rel="stylesheet" href="{% static 'myapp/stanis.css' %}">
</head>

<body style="font-family: 'Museo Sans Cyrl', Arial">
    <!-- Хэдер -->
    <header class="header">
        <input type="hidden" id="Url" data-url="finish" />
        <a href="http://info.homeet.styleru.org/"><img src="{% static 'myapp/img/header image.png' %}" width="200" alt=""></a>
        <!-- Кнопка "выйти из аккаунта" -->
        <a href="http://info.homeet.styleru.org/"> <button class="button" type="button" id="exitbut">Выйти из аккаунта</button> </a>
    </header>

    <main style="margin-left: 100px; position: relative;">
        <div style="padding-top: 150px;">
            <a href="firstpage"><button class="button" type="button">Назад</button> </a>
        </div>
        <br> 
        <!-- Линия прогресса  --> 
        <div>
            <span style="font-size: 220%;">Создание профиля</span>
            <span style="color: rgb(174, 174, 174);">/ Образование</span>
        </div><br>
        <div style="position: absolute; width:1105px; left:0px; height: 3px; border: solid 0px #d1d1d1; background-color:#d1d1d1;">
            <span style="position: absolute; right:65%; left:0px; height: 2px; border: solid 1px rgb(109, 0, 181); background-color:rgb(78, 0, 101);"></span>
        </div>
        <br><br>
        <section>
            <!-- Занятость -->
            <div class="radio" style="width:350px; height:30px; border-radius:5px; padding: 3px;">
                <span style="position: relative;" id="Occ_ref"></span>
                <label><input type="radio" name="HSE_relation" id="STUD" value="Студент / выпускник">Студент / выпускник<span style="margin-left: 0.5px;  margin-top: 1px; text-align: center;"> <span class="radio-select-dot"></span> </span></label>
                <label style="margin-left: 10px;"><input type="radio" name="HSE_relation" id="SOTR" value="Сотрудник">Сотрудник<span style="margin-left: 0.5px; margin-top: 1px; text-align: center;"> <span class="radio-select-dot"></span> </span></label>
            </div>
            <!-- КУРС -->
            <div class="before-form-text">Курс</div><span style="position: relative;" id="Kurs_ref"></span>
            <div id="Kurs_box" style="background-color: #e7e7e7; width: fit-content; padding: 10px; border-radius:10px;">
                <button class="kurs-button" type="button">1</button>
                <button class="kurs-button" type="button">2</button>
                <button class="kurs-button" type="button">3</button>
                <button class="kurs-button" type="button">4</button>
                <button class="kurs-button" type="button">5</button>
                <button class="kurs-button" type="button">6</button>
            </div> <br>
            <button class="no-kurs-but" type="button"></button><span style="margin-left: 10px;">Уже окончил Вышку</span>

            <!-- Ступень образования -->
            <div class="before-form-text" >Ступень образования</div>
            <span style="position:relative;" id="Ed_ref">
                <img src="{% static 'myapp/img/list-arrow.png' %}" alt="" class="list-arrow" id="Edu_arrow">
            </span>
            <div><input name="EduLevel" class="grey-form2" type="text" placeholder="Ступень образования" list="EduLevel" id="EduLevel" name="EduLevel" autocomplete="off">
                <datalist id="EduLevel" class="list-input">
                    <option class="option" value="Бакалавриат">Бакалавриат</option>
                    <option class="option" value="Магистратура">Магистратура</option>
                </datalist>
            </div>

            <!-- Факультет -->
            <div class="before-form-text">Факультет</div>
            <span style="position:relative;" id="Fac_ref">
                <img src="{% static 'myapp/img/list-arrow.png' %}" alt="" class="list-arrow" id="Facult_arrow">
            </span>
            <div><input name="Facult" class="grey-form2" type="text" placeholder="Факультет" list="Facult" id="Facult" autocomplete="off">
                <datalist id="Facult" class="list-input">
                    <option class="option" value="ФКН">ФКН</option>
                    <option class="option" value="ВШБ">ВШБ</option>
                    <option class="option" value="ФП">ФП</option>
                    <option class="option" value="ФД">ФД</option>
                    <option class="option" value="МИЭМ">МИЭМ</option>
                </datalist>
            </div>      

            <!-- Образовательная программа -->
            <div class="before-form-text">Образовательная программа</div>
            <span style="position:relative;" id="Pr_ref">
                <img src="{% static 'myapp/img/list-lense.png' %}" alt="" class="list-arrow">
            </span>
            <div><input name="Prog" class="grey-form2" type="text" placeholder="Образовательная программа" id="Prog" autocomplete="off">
                <datalist id="Prog" class="list-input">
                    <option class="option" value="ИТСС">ИТСС</option>
                    <option class="option" value="ИБ">ИБ</option>
                    <option class="option" value="ИВТ">ИВТ</option>
                    <option class="option" value="ЭБ">ЭБ</option>
                    <option class="option" value="ПИ">ПИ</option>
                </datalist>
            </div> <br>
        </section>
    <form action="finish" method="post" enctype="multipart/form-data" id="form2">
        {% csrf_token %}
        <!-- Данные из первой формы для postData (+ HSE_Relation, т. к. если брать сверху, fetch отправляет лишнее)-->
        <input type="text" style="display: none;" name="your_name" id="your_name">
        <input type="text" style="display: none;" name="gender" id="gender">
        <input type="text" style="display: none;" name="birth_date" id="birth_date">
        <input type="text" style="display: none;" name="telega" id="telega">
        <input type="tel" style="display: none;" name="phone_num" id="phone_num">
        <input type="text" style="display: none;" name="O_sebe" id="O_sebe">
        <input type="text" style="display: none;" name="HSE_relation" id="HSE_relation">

        <input type="text" style="display: none;" name="kurs" id="kurs"> <!-- ДЛЯ ФОРМЫ, БЕРЕТ VALUE У kurs-preview -->

        <div><span id="Job_ref" style="position: relative;"></span><input name="job" class="grey-form2" type="text" placeholder="Работа" id="job" autocomplete="off"></div>

     <!-- Окошки справа -->
        <section style="position: absolute; left: 505px; top: 300px;">
            <div style="font-size: 12; color: rgb(53, 53, 53);">Так будет выглядеть твоя будущая страница</div> <br>
            <div class="account-preview">
                <div style="height: 1px;"></div>

                <div class="photo-preview"></div>

                <button class="input-file-btn" style="margin: 21px; background-color:rgb(109, 0, 181, 0.5); border:0px;">Показать контакты</button>
                <div style="position:absolute; top:21px; left: 210px; font-size: 20;">

                    <div id="Name_preview"><b>Иван Иванов</b></div>

                    <div style="font-size: 12px; color:rgb(18, 18, 18); position: relative;">

                        <span style="margin-right: 5px;" id="gender-preview">Пол</span><span class="dividor">oo</span>
                        <span style="margin-right: 5px; margin-left: 8px;" id="age-preview">Возраст</span><span class="dividor">oo</span>

                        <span style="margin-left: 8px;" id="kurs-preview">Курс</span></div>
                        <div class="job-preview">Работа</div>

                        <span id="extend_o_sebe_but">Развернуть <img src="{% static 'myapp/img/list-arrow.png' %}" class="Extend_arr"></span>
                        <div class="o-sebe-preview">
                            Мне очень нравится...
                        </div>

                        <div><img height="115" src="{% static 'myapp/img/right-windows.png' %}" alt="окошки" style="margin-left: -10px;"></div>
                    </div>
            </div> <br>
        <!-- Второе окошко справа -->
            <div class="account-preview" style="height:80px; position: relative;">
                <div style="padding-top: 20px; padding-left: 10px;">
                    <b>Расскажи где ты учишся</b>
                    <div style="padding-top: 5px;">Часто студенты ищут соседей по общим интересам</div>
                    <div style="position: absolute; right:30px; top: 20px; height: 10px;"><img src="{% static 'myapp/img/happy-smile.png' %}" alt="sad" height="40px"></div>
                </div>
            </div>
            
            <input type="submit" value="Продолжить" class="input-file-btn" id="continue-butt">
        </section>
    </form>
    </main>

    <!-- Футер и линия у него -->
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div style="position: absolute; right:0px; left:0px; height: 0px; border-top: solid 1px #8a8a8a;"></div>
    <footer class="footer">
        <div style="color: rgb(109, 0, 181); font-size: 40px;">Support@homeet.com</div>
        <div style="color: rgb(174, 174, 174);">Техническая поддержка</div>
        <br>
        <span>О сервисе</span><span style="margin-left: 20px;"></span>Контакты<span style="margin-left: 20px;">Политика конфиденциальности</span>
        <a class="socset-box" href="https://telegram.org/?1&ysclid=lnrpeixor2513423268" style="position: absolute; left: 1120px;">
            <img src="{% static 'myapp/img/tg-href.png' %}" width="35px" alt="tg" style="margin-top: 6px;"></a>
        <a class="socset-box" href="https://vk.com/?ysclid=lnrpfguozw618824200" style="position: absolute; left:1170px;">
            <img src="{% static 'myapp/img/vk-href.png' %}" width="35px" alt="vk" style="margin-top: 8px;"></a>
        <br><br><br>
        <div style="margin-top: 60px; height: 0px; width: 1100px; border-top: solid 1px #8a8a8a;;"></div>
        <br><br><br>
        <div style="color: rgb(174, 174, 174);">Предложение не является публичной офертой</div>
        <div style="color: rgb(174, 174, 174);"><span>Сервис не несёт ответственности за действия пользователей, достоверность информации и т. д.</span>
        <span style="position: absolute; left: 1085px;">Сделано в <b style="color: black;">бвср</b></span></div>
        <div style="margin-top: 50px; background-color: rgb(109, 0, 181); position: absolute; left:0px; right:0px; height:20px;"></div>
    </footer>

    <script src="{% static 'myapp/HW-script-2page.js' %}"></script>

</body>
</html>
