<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HW - HM</title>
    <link rel="stylesheet" href="css/stanis.css">

</head>

<body style="position:absolute; left:100px; font-family: MuseoSansCyrl, Arial; font-size: 60px; color:rgb(109, 0, 181);">
    <br><br><br>
    Конец<br><br>
    <div>
        <a href="secondpage.html"><button class="button" style="height: 80px; width: 120px; font-size: 36px;">Назад</button> </a>
    </div>
</body>